*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    
}
.container{
    width: 80%;
    
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 15%;
    font-size: 30px;
    line-height: 70px;
    height: 70px;
    text-align: center;
    color:white;
    font-weight: bold;
     
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navigation{
    height: 70px;
    width: 40%;
}
.nav-bar{
    display: flex;
}
.nav-link{
    list-style: none;
    text-align: center;
    line-height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
    width: 20%;
}
.parent{
    width: 100%;
    /* height: 700px */
    background-color: grey;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    
   
}
.child{
    margin: 5px;
    width: 25%;
    height: 200px;
   

}
.child1{
    
    background-color: red;
}
.child2{
    background-color: blueviolet;
}
.child3{
    background-color: coral;
}


                /* for mobile */

@media (max-width:390px){
   .container{
       flex-direction: column;
       width: 90%;
   }
   .logo{
    width: 100%;
    text-align: left;
}

.navigation{
    width: 100%;
    height: auto;
}

.nav-bar{
    flex-direction: column;
}
.parent{
    flex-direction: column;
    
}
.child{
    width: 100%;
}

.nav-link{
    width: 100%;
    text-align: left;
}

}
